/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

  .backgrounds{
    background-color: rgb(235, 235, 235);
  }

  .bodyd {
    background-image: url("https://linksharing.samsungcloud.com/ls/public/v1/…wvfTlRh5jCC9MUccQkUthHl1YT4clUMQ&storageType=file");
    background-size: cover;
    height:100%;
    overflow: hidden;
  }

  
  body{
    /* background-image: url('https://linksharing.samsungcloud.com/ls/public/v1/links/1678382177703LxlTOmK/contents/1bca0cd0be9e11ed8f8f2a075fa2a04a/resized/1280?signature=lE6hgeKmvdOMuKaC71JBVV9ey0x6BqfKUwo1CcYQkhfsJRipdenZluHZtpEQ4zfNN4F000WdXnPStu76m8UbqtDbJ-UwGl6Mhh6F4rm4AUvtMrXxrX602IwvfTlRh5jCC9MUccQkUthHl1YT4clUMQ&storageType=file');
    background-size: cover;
    overflow: hidden; */
    height:100%;
    width:100%;
  }

  html{
    height:100%;
    width:100%;
  }

