<p>Enter userID</p>
<input type="text" [(ngModel)]="UserId"/>
<h1>Welcome to the Help Desk Ticket Center</h1>
<div *ngFor="let a of Tickets; index as i" class="row">

  <p class="card backgrounds"  (click)="select(i)"> Ticket #{{i+1}} <br> User: {{ a.userId }} <br> {{ a.priority }} <br>Subject: {{ a.subjectBrief }}</p>
  <div  *ngIf="i==selectedIndex" class="offset-1 col-11">
  <p>   Date Submitted: {{ a.dateSubmitted | date}}<br>email response to: {{ a.email }} </p>
  <p>{{ a.fullIssue }}</p>
  <p>Enter resolution for ticket</p>
  <input type="text" />
  <button (click)="DeleteTicket(a.id)">Resolve Ticket</button>
  <br>
  <button (click)="unselect(i)">Close</button>
  <button (click)="AddToFav(a.id)">Bookmark</button>
  <!-- <button (click)="DeleteTicket()">x</button> -->
  </div>
</div>





<div class="row">
  <button data-bs-toggle="collapse" data-bs-target="#demo">
    Create a new Ticket
  </button>

  <div id="demo" class="collapse">
    <p>Enter user Id</p>
    <input type="text" [(ngModel)]="newTicket.userId"/>

    <p>Select the priority level</p>
    <select name="Priority" [(ngModel)]="newTicket.priority">
      <option value="1">Low Priority</option>
      <option value="2">Moderate Priority</option>
      <option value="3">High Priority</option>
      <option value="4">Critical Priority</option>
    </select>

    <p>Enter email</p>
    <input type="text" [(ngModel)]="newTicket.email"/>

    <p>Enter brief description of the issue (limit 100 characters)</p>
    <input type="text" [(ngModel)]="newTicket.subjectBrief"/>

    <p>Enter the full issue </p>
    <input type="text" [(ngModel)]="newTicket.fullIssue"/>
    <br><br>

    <p>Enter the date Submitted</p>
    <input type="date" [(ngModel)]="newTicket.dateSubmitted"/>


    <p>Enter the date completed</p>
    <input type="date" [(ngModel)]="newTicket.dateCompleted"/>

    <p>Open or closed</p>
    <select name="openOrClosed" [(ngModel)]="newTicket.open">
      <option value="true">true</option>
      <option value="false">false</option>
    </select>


    <button (click)="CreateTicket()">Generate a Ticket</button>
  </div>
</div>


<!-- <p>Ticket works!</p> -->
