
<h1>Welcome to the Help Desk Ticket Center</h1>
<div *ngFor="let a of Tickets; index as i" class="row">

  <p class="card backgrounds"  (click)="select(i)"> Ticket #{{i+1}} <br> User: {{ a.userId }} <br> {{ a.priority }} <br>Subject: {{ a.subjectBrief }}</p>
  <div  *ngIf="i==selectedIndex" class="offset-1 col-11">
  <p>   Date Submitted: {{ a.dateSubmitted }}<br>email response to: {{ a.email }} </p>
  <p>{{ a.fullIssue }}</p>
  <p (click)="DeleteTicket(a.id)">Delete</p>
  <p class="close" (click)="unselect(i)">Close</p>
  <!-- <button (click)="DeleteTicket()">x</button> -->
  </div>
</div>








<div class="row">
  <button data-bs-toggle="collapse" data-bs-target="#demo">
    Create a new Ticket
  </button>

  <div id="demo" class="collapse">
    <p>Enter user Id</p>
    <input type="text" [(ngModel)]="newTicket.userId"/>

    <p>Select the priority level</p>
    <select name="Priority" [(ngModel)]="newTicket.priority">
      <option value="1">Low Priority</option>
      <option value="2">Moderate Priority</option>
      <option value="3">High Priority</option>
      <option value="4">Critical Priority</option>
    </select>

    <p>Enter email</p>
    <input type="text" [(ngModel)]="newTicket.email"/>

    <p>Enter brief description of the issue (limit 100 characters)</p>
    <input type="text" [(ngModel)]="newTicket.subjectBrief"/>

    <p>Enter the full issue </p>
    <input type="text" [(ngModel)]="newTicket.fullIssue"/>
    <br><br>

    <p>Enter the date Submitted</p>
    <input type="date" [(ngModel)]="newTicket.dateSubmitted"/>


    <p>Enter the date completed</p>
    <input type="date" [(ngModel)]="newTicket.dateCompleted"/>

    <p>Open or closed</p>
    <select name="openOrClosed" [(ngModel)]="newTicket.open">
      <option value="true">true</option>
      <option value="false">false</option>
    </select>


    <button (click)="CreateTicket()">Generate a Ticket</button>
  </div>
</div>


<!-- <p>Ticket works!</p> -->

<!-- BUtton for trigger modal -->
<button
type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="CreateTicketModal"
  >
  Launch demo modal
</button>

<!-- Modal -->
<div
class="modal fade"
id="CreateTicketModal"
tabindex="-1"
aria-labelledby="CreateTicketModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title" fs-5 id="CreateTicketModal">
          Enter a Help Ticket
        </h1>
        <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <form>
        <div class="form-group">
          <h4 id="flavorText" class="form-text">
            Fill out the form below and I'll get back to you as soon as
            possible. Don't worry, it won't take long.
          </h4>
          <label for="userId">User Id</label>
          <input
          type="text"
          class="form-control"
          id="InputUserID1"
          aria-describedby="UserIdHelp"
          placeholder="Enter your User ID"
          />
          <br/>
          <label for="InputCritcal">Select the priority level: </label>
          <select name="Priority">
            <option value="1">Low Priority</option>
            <option value="2">Moderate Priority</option>
            <option value="3">High Priority</option>
            <option value="4">Critical Priority</option>
          </select>
          <br/>
          <br/>
          <p>
            <label for="InputEmail1">Email address*</label>
            <input
            type="email"
                class="form-control"
                id="InputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email address"
                />
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                 <br />
                  <!-- <label for="dateSubmittedLabel"
                  >`Date Submitted:
                   ${{ a.dateSubmitted | date }}`</label> -->
                    <br />
                  </p>

                  <label for="InputSubjectBrief"
                  >Please provide a brief description of the issue you are
                  having.</label
                  >
                  <input
                  type="text"
                  class="form-control"
                  id="InputSubjectBrief"
                  aria-describedby="SubjectBriefHelp"
                  placeholder="100 characters limit"
                  />
                  <br />

                  <label for="InputFullIssue1"
                  >Please describe the issue you are having in full.
                </label>
                <input
                type="text"
                class="form-control"
                id="InputFullIssue"
                aria-describedby="FullIssueHelp"
                placeholder="Please provide information as to what system is effected, the programs used and if it is effecting just you or other users. Limit 700 characters."
                />
                <br />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-primary">
              Save changes
            </button>
          </div>
        </div>
      </div>




