<div class="pimg m-0">
<div>
  <p class="m-2 p-3"></p>
</div>
<div>
  <p class="m-2 p-5"></p>
</div>
<div class="co1-7 offset-3">
  <img offset0 src="assets/img.png" height="400px" class="pb-5">
</div>
<div class="col-8 offset-2 card pip p-5 opacity-75 rounded-pill">
  <h1 class="text-center opacity-100" ><br>Demolishing the Competition. One company at a time.</h1>
<h3><br>Through the use of synegistic work systems and connectivity processes we are changing the tech landscape as a whole. Soon there will be no other tech companies. Only Globex</h3>
<br><br>
<h5 class="text-center opacity-100">Join Globex. Join the revolution today!</h5>
</div>



</div>

